:export {
  xAxisColor: #bfbfbf;
  yAxisLineColor: #eeeeee;
  dataItemStyle1: #ff6244;
  dataAreaStyleTop1: #fe70a0;
  dataAreaStyleBtm1: #ffae7f;
  dataItemStyle2: #5ba6e8;
  dataAreaStyleTop2: #8876ef;
  dataAreaStyleBtm2: #47bbe5;
  legendColor: #546269
}