// 框架样式布局
.frame {
  &-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    color: $bodyFontColor;
    background: $bodyBg;

    &.hideSidebar {
      .frame-aside {
        width: 64px;
      }
      .frame-main-container {
        left: 64px;
      }
    }
  }

  //================================================= 头部导航栏 Navbar =================================================
  &-header {
    height: $headerHeight;
    line-height: $headerHeight;
    padding: 0;
    width: $mainWidth;
    margin: 0 auto;
    // box-shadow:  0 3px 5px $headerBoxShadowColor;
    background:  $navbarBg;
    position: relative;
    z-index: 99;
  }

  @at-root .el-navbar {
    height: 100%;
    line-height: $headerHeight;
    padding: 0 20px;
    overflow: hidden;
    font-size: 0;
    color: $navbarFontColor;
    position: relative;
    z-index: 99;

    .hamburger-container {
      display: inline-block;
      width: 24px;
      height: 100%;
      margin-right: 16px;
      vertical-align: top;
      text-align: center;
      color: $hamburgerColor;
      cursor: pointer;
      transition: background .3s;
    }

    .hamburger {
      font-size: 20px;
      vertical-align: middle;

      &.is-active {
        transform: rotate(180deg);
      }
    }

    .logo {
      height: 30px;
      vertical-align: middle;
    }

    &__right-menu {
      float: right;
      height: 100%;
      line-height: $headerHeight;
      font-size: $navbarFontSize;

      .right-menu-item {
        display: inline-block;
        padding: 0 15px;
        height: 100%;
        vertical-align: top;
      }

      .message-icon {
        font-size: 18px;
        color: #B0B0B0;
        cursor: pointer;
      }
      .el-badge__content {
        top: 22px;
        right: 24px;
        border: none;
        background: $navBarBadgeBgColor;
      }

    }

    &__search {
      font-size: 0 !important;

      .search-icon {
        cursor: pointer;
        font-size: 28px;
      }

      .search-select {
        width: 0;
        border-radius: 0;
        vertical-align: top;
        transition: width 0.2s;
        overflow: hidden;

        .el-input__inner {
          padding: 0 5px;
          border-radius: 0;
          border: 0;
          border-bottom: 1px solid currentColor;
          color: currentColor;
          background-color: transparent;
          cursor: text;
        }
        .el-input.is-focus .el-input__inner {
          border-color: currentColor;
        }
      }

      &.show {
        .search-select {
          width: 210px;
          margin-left: 10px;
        }
      }
    }

    &__popper[x-placement^=bottom] {
      margin-top: -5px;
    }
    &__popper--msg {
      .el-dropdown-menu__item {
        cursor: default;
      }
      .msg {
        margin: 0;
        font-size: 0;
        color: $--dropdown-menuItem-hover-color;

        svg {
          margin: 0 3px 0 -3px;
          font-size: 18px;
        }
      }
      a {
        display: inline-block;
        vertical-align: top;
        max-width: 10em;
        overflow: hidden;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
        }
      }
      .time {
        margin: -3px 0 0 0;
        line-height: 24px;
        font-size: 12px;
        color: $--color-text-regular;
      }
      .more {
        text-align: center;
        cursor: pointer;
      }
    }

    .theme-picker {
      line-height: inherit;

      .el-color-picker__trigger {
        height: 26px;
        width: 26px;
        padding: 2px;
        vertical-align: middle;
      }
    }
    .theme-picker-dropdown .el-color-dropdown__link-btn {
      display: none;
    }

    &__user-container {

      .user-icon {
        font-size: 26px;
      }
      .user-wrapper {
        color: $navbarFontColor;
        cursor: pointer;
        position: relative;

        .user-avatar {
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        .el-icon-caret-bottom {
          position: absolute;
          right: -18px;
          top: 50%;
          font-size: 12px;
          transform: translateY(-50%);
        }
      }
    }
  }

  //============================================= 侧边栏 Sidebar container =============================================
  &-aside {
    // width: $sideBarWidth;
    width: 100%;
    height: $sideBarHeight;
    position: absolute;
    left: 0;
    bottom: 0;
    top: $headerHeight;
    z-index: 98;
    overflow: hidden;
    background: $sidebarBg;
    -webkit-background-size: 100% 10%;
    background-size: 100% 10%;
    // box-shadow:  2px 0 5px $sideBarBoxShadowColor;
    // transition: width 0.28s linear;

    .aside-scrollbar {
      overflow-x: hidden;
    }
    .el-menu {
      background: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 10px;
    }
    .img {
      display: inline-block;
      width: 24px;
      margin-right: 10px;
      font-size: 0;
      text-align: center;

      img {
        max-width: 100%;
      }
    }
  }

  //================================================== 标签栏 Tagsbar ==================================================
  &-tags {
    position: relative;
    height: 33px !important;
    line-height: 33px;
    padding: 0;
    // border-bottom: 1px solid $tagsBarBorderColor;
    background: $tagsBarBg;
    // box-shadow: 0 1px 3px 0 $sideBarBoxShadowColor;
  }

  @at-root .tagsbar {
    height: 100%;
    width: $mainWidth;
    margin: 0 auto;

    &__scroller {
      position: relative;
      width: 100%;
      overflow: hidden;
      font-size: 0;
      white-space: nowrap;

      .el-scrollbar__bar {
        bottom: 0;
      }
    }
    &__item {
      position: relative;
      display: inline-block;
      height: 28px;
      line-height: 28px;
      padding: 0 8px;
      margin: 7px 5px 0 0;
      font-size: 12px;
      // border: 1px solid $tagBorderColor;
      vertical-align: top;
      color: $tagFontColor;
      background-color: $tagBgColor;
      user-select: none;
      border-radius: 2px 2px 0 0;
      cursor: pointer;

      // &:first-of-type {
      //   margin-left: 5px;
      // }
      &:first-child{
        padding-left: 24px;
        background-image: url(../assets/images/icon/icon-tag-home.png);
        background-repeat: no-repeat;
        background-position: 9px center;
      }
      &.active {
        background-color: $tagActiveBgColor;
        color: $tagActiveFontColor;
        border-color: $tagActiveBgColor;
      }
      .el-icon-close {
        width: 16px;
        height: 16px;
        line-height: 16px;
        position: relative;
        right: -2px;
        border-radius: 50%;
        text-align: center;

        &:hover {
          color: $tagCloseBtnHoverColor;
          background: $tagCloseBtnHoverBgColor;
        }
      }
    }
    .contextmenu {
      position: fixed;
      padding: 5px 0;
      margin: 0;
      z-index: 100;
      list-style: none;
      border-radius: 4px;
      font-size: 12px;
      line-height: 1;
      background: $tagContextBgColor;
      color: $tagContextFontColor;
      border: 1px solid rgba($tagContextBoxShadowColor, 0.1);
      box-shadow: 2px 2px 3px 0 $tagContextBoxShadowColor;

      li {
        margin: 0;
        padding: 7px 16px;
        cursor: pointer;

        &:hover {
          background: $tagContextHoverBgColor;
        }
      }
    }
  }

  //=================================================== 主内容区 main ===================================================
  &-main-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: $headerHeight+$sideBarHeight;
    z-index: 97;
    overflow: hidden;
    transition: left 0.28s linear;
    background: #F4F4F5
  }

  &-main {
    padding: 0;
    position: relative;
    width: $mainWidth;
    margin: 0 auto;
  }
}
.cus-menu{
  width: $mainWidth;
  margin: 0 auto;
}
