.panel-group {
  margin-top: 18px;
  .card-panel {
    height: 108px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, .05);
    &:hover {
      .card-panel-icon-wrapper {
        color: #fff;
      }
      .icon-people{
        -webkit-animation: animate-rotateY 2s linear infinite;
        animation: animate-rotateY 2s linear infinite;
      }
      .icon-message{
        -webkit-animation: animate-rotateY 2s linear infinite;
        animation: animate-rotateY 2s linear infinite;
      }
      .icon-money{
        -webkit-animation: animate-rotateY 2s linear infinite;
        animation: animate-rotateY 2s linear infinite;
      }
      .icon-shopping{
        -webkit-animation: animate-rotateY 2s linear infinite;
        animation: animate-rotateY 2s linear infinite;
      }
      -webkit-animation: animate-scale 2s linear infinite;
      animation: animate-scale 2s linear infinite;

    }
    .card-panel-icon-wrapper {
      float: left;
      margin: 20px 20px 0 24px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
      width: 57px;
      height: 56px;
      float: left;
      font-size: 48px;
    }
    .card-panel-icon {
      float: left;
      font-size: 48px;
    }
    .icon-people{
      background: url('../../assets/images/pic/pageItem01.png') no-repeat center;
      background-size: 100%;
      transform: rotateY(180deg)
    }
    .icon-message{
      background: url('../../assets/images/pic/pageItem02.png') no-repeat center;
      background-size: 100%;
    }
    .icon-money{
      background: url('../../assets/images/pic/pageItem03.png') no-repeat center;
      background-size: 100%;
    }
    .icon-shopping{
      background: url('../../assets/images/pic/pageItem04.png') no-repeat center;
      background-size: 100%;
    }
    .card-panel-description {
      float: left;
      margin-top: 20px;
      margin-left: 3px;
      .card-panel-text {
        line-height: 18px;
        color: #d7d7d7;
        font-size: 16px;
        margin-bottom: 12px;
        margin-top: 5px;
      }
      .card-panel-num {
        font-size: 38px;
      }
    }
  }}
  .card-panel-col{
    padding-right: 0!important;
    &:last-child{
      padding-right: 20px!important;
    }
  }
  @keyframes animate-scale { /*兼容性写法。spin是关键帧的动画名称*/
    0% { /*动画起始状态*/
      transform: scale(1);
    }
    50% { /*动画结束状态*/
      transform: scale(1.1);
    }
    100% { /*动画结束状态*/
      transform: scale(1);
    }
  }
  @keyframes animate-rotateY { /*兼容性写法。spin是关键帧的动画名称*/
    0% { /*动画起始状态*/
      transform: rotateY(0deg);
    }
    50% { /*动画起始状态*/
      transform: rotateY(180deg);
    }
    100% { /*动画结束状态*/
      transform: rotateY(0deg);
    }
  }